In [1]:
import numpy as np

In [2]:
import pandas as pd

In [21]:
# format floating point values in the pandas dataframe

pd.options.display.float_format = '{:.2f}$'.format

In [4]:
# number of records
n = 50

In [40]:
# some categorical data
available_colors = ['red', 'green', 'blue']
available_sizes = ['small', 'medium', 'large']

In [41]:
# create data for the dataframe
rand_values = [float(np.random.randint(100)) for _ in range(n)]
colors = [np.random.choice(available_colors) for _ in range(n)]
sizes = [np.random.choice(available_sizes) for _ in range(n)]

In [42]:
# convert colors and sizes to categorical data, and make them ordered by the list and not by alphabet
colors = pd.Categorical(colors, categories = available_colors, ordered=True)
sizes = pd.Categorical(sizes, categories = available_sizes, ordered=True)

In [43]:
# create the dataframe, mapping lists to column names

data = pd.DataFrame({'size':sizes, 'color':colors, 'price':rand_values})

In [44]:
# show the first five records

data.head(5)

     size  color  price
0   small    red 12.00$
1   large  green  6.00$
2   large   blue 95.00$
3  medium    red 30.00$
4   small  green  4.00$

In [45]:
# get average price by color and size

data.groupby(['color', 'size'])['price'].mean()

color  size
red    small    34.83$
       medium   55.20$
       large     8.50$
green  small    19.75$
       medium   23.71$
       large    31.75$
blue   small    49.57$
       medium   46.67$
       large    54.78$
Name: price, dtype: float64