In [1]:
import numpy as np

In [2]:
import pandas as pd

In [21]:
# format floating point values in the pandas dataframe

pd.options.display.float_format = '{:.2f}$'.format

In [4]:
# number of records
n = 50

In [34]:
# some categorical data
available_colors = ['red', 'green', 'blue']
available_sizes = ['small', 'medium', 'large']

In [ ]:
# create data for the dataframe
rand_values = [float(np.random.randint(100)) for _ in range(n)]
colors = [np.random.choice(available_colors) for _ in range(n)]
sizes = [np.random.choice(available_sizes) for _ in range(n)]

In [ ]:
# convert colors and sizes to categorical data, and make them ordered by

In [30]:
colors = pd.Categorical(colors, categories = available_colors, ordered=True)

In [35]:
sizes = pd.Categorical(sizes, categories = available_sizes, ordered=True)

In [36]:
# create the dataframe, mapping lists to column names

data = pd.DataFrame({'size':sizes, 'color':colors, 'price':rand_values})

In [37]:
# show the first five records

data.head(5)

    size  color  price
0  large    red 12.00$
1  small    red 30.00$
2  large   blue 70.00$
3  large  green 32.00$
4  small   blue 33.00$

In [38]:
data.groupby(['color', 'size'])['price'].mean()

color  size
green  small    52.57$
       medium   63.50$
       large    50.33$
red    small    36.60$
       medium   31.33$
       large    38.40$
blue   small    33.00$
       medium   48.00$
       large    74.17$
Name: price, dtype: float64